

- name: Ensure nginx, dotnet10, certbot are up to date
  apt:
    name: 
      - nginx 
      - dotnet10
      - certbot
      - python3-certbot-nginx
    state: latest
  register: apt_update

- name: Restart nginx 
  service:
    name: nginx
    state: restarted
  when: apt_update.changed

