- name: Vacuum journal logs to 10MB
  ansible.builtin.command: journalctl --vacuum-size=10M
  become: true

- name: Clean nginx logs
  ansible.builtin.shell: rm -f /var/log/nginx/domains/*.log.*
  become: true
  ignore_errors: true

- name: Truncate nginx logs to last 1000 lines
  ansible.builtin.shell: find /var/log/nginx -type f -name "*.log" -exec sh -c 'tail -n 1000 "$1" > "$1.tmp" && mv "$1.tmp" "$1"' _ {} \;
  ignore_errors: true

- name: Clean snapd cache
  ansible.builtin.shell: rm -rf /var/lib/snapd/cache/*
  become: true
  ignore_errors: true

- name: Clean apt cache
  ansible.builtin.command: apt clean
  become: true
  ignore_errors: true